<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{userID}}</title>
    <link rel="stylesheet" type="text/css" href="build/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="build/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="build/bootstrap/css/bootstrap-reboot.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="build/jquery.min.js"></script>
    <script src="service/service.js"></script>
    <style>
        .main {
            height: calc(100% - 56px);
            width: 100%;
            overflow: hidden;
        }
        .left-control, .main-screen{
            display: block;
            float: left;
            height: 100%;
            -webkit-transition: width .5s;
            -moz-transition: width .5s;
            -ms-transition: width .5s;
            -o-transition: width .5s;
            transition: width .5s;
            margin:0;
            padding: 0;
            overflow: hidden;
        }
        .main-screen{
            overflow: auto;
        }
        .credential, .client-control{
            height:60%;
            border-bottom: 1px solid #666;
            padding:10px 20px;
            overflow: auto;
        }
        .client-control{
            height:40%;
            border:none;
        }
        .credential h4, .client-control h4{
            margin-bottom: 20px;
        }
        #demo div{
            margin: 20px 10px;
        }
        button{
            margin:10px;
        }

    </style>
</head>
<body>
    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark">
            <button onclick="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="main">
        <span style="width: 30%;" class="left-control bg-light">
            <div class="credential">
                <h4>DB2 Credential</h4>
                   <div class="row form-group">
                        <div class="col-7">
                          <input id="hostname" name="hostname" type="text" class="form-control" placeholder="Host name">
                        </div>
                        <div class="col-5">
                          <input id="port" name="port" type="number" class="form-control" placeholder="Port">
                        </div>
                    </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="dbname" name="dbname" aria-describedby="emailHelp" placeholder="DB name ">
                  </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="dbuser" name="dbuser" aria-describedby="emailHelp" placeholder="DB2 User ">
                  </div>
                  <div class="form-group">
                    <input type="password" id="dbpassword" name="dbpassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                    <div style="margin-top:10px;">
                        <button onclick="test()" type="submit" class="btn btn-primary">Test connection</button>
                        <button onclick="load()" type="submit" class="btn btn-primary">Load data</button>
                        <button onclick="load()" type="submit" class="btn btn-danger">Clear data</button>
                    </div>
            </div>
            <div class="client-control">
                <h4>Client config</h4>
                    <div class="form-group">
                        <input type="text"  class="form-control" id="clientnumber" aria-describedby="emailHelp" placeholder="Enter clients number">
                  </div>
                 <button type="button" onclick="start()" class="btn btn-primary">START</button>
                  <button type="button" onclick="stop()" class="btn btn-danger">STOP</button>
            </div>
        </span>
        <span style="width: 70%;" id="demo" class="main-screen bg-secondary">

        </span>
    </div>
<script>
    var i = 1;
    var socket = io();
    var shops = {};
    var bgColor = ["alert-success", "alert-info", "alert-warning", "alert-danger"];
    window.service = new LoadData();

    document.getElementById('clientnumber').onkeydown = function(e){
        if(e.which===13){
            start();
        }
    }

    socket.on('connect', function () {

    });

    function buildRetailer(num){
        document.getElementById('demo').innerHTML = "";
        shops = {};
        for(var i=1;i<=parseInt(num);i++){
            var shop = '<div id="shop'+i+'" class="alert '+bgColor[i%4]+'">Building</div>';
            document.getElementById('demo').innerHTML += shop;
            shops['shop'+i] = [];
        }
    }

    function handleRetailer(num, user, verb){
        var key = "shop"+num;
        var shop = document.getElementById(key);
        if(shop) {
            if (user == "OPEN" && verb == "OPEN") {
                shop.innerHTML = "OPEN!!!";
            }
            else if (user == "CLOSE" && verb == "CLOSE") {
                shop.innerHTML = "CLOSED!!!";
            }
            else {
                var retailer = shops[key]
                var inn = "";var j = -1;
                for(var i = 0;i < retailer.length;i++){
                    var br = i==(retailer.length-1)?"":'<br/>';
                    if(retailer[i].name==user){
                        inn += user + ' ' + verb + br;
                        j = i;
                    }
                    else inn += retailer[i].name + ' ' + retailer[i].verb + br;
                }
                if(j==-1){
                    var br = retailer.length==0?"":'<br/>';
                    inn += br + user + ' ' + verb;
                    retailer.push({name:user,verb:verb});
                }
                shop.innerHTML = inn;
                if(verb=="signs out")
                    retailer.splice(j,1);
            }
        }
    }

    function start(){
        var params = getFormBody();
        if(!params){
            alert("Please enter the db2 credential first!");
            return ;
        }
        var reg = /^[0-9]*[1-9][0-9]*$/;
        var num = document.getElementById("clientnumber").value;
        if(!num) return;
        if(!reg.test(num)){
            alert("Please enter a digit number");
            return ;
        }

        params.num = num;

        socket.emit('start', params);
        buildRetailer(num);
        socket.on('msg', function (clientNum, user, verb) {
            handleRetailer(clientNum, user, verb);
        });

        socket.on('sys', function (stat) {
            if(stat=='nocred'){
                alert("Db2 connection failed");
            }
            if(stat=='nodata'){
                alert("No data in certain db, please load data first");
            }
        });
    }
    function stop(){
        socket.emit('stop','haha');
    }
    function toggle() {
        var width = document.querySelector('.left-control').style.width;
        var width1 = '30%'; var width2 = '70%';
        if(parseInt(width)==30){
            width1 = '0%';
            width2 = '100%';
        }
        document.querySelector('.left-control').style.width = width1;
        document.querySelector('.main-screen').style.width = width2;
    }
    function getFormBody(){
        var hostname = document.getElementById("hostname").value;
        var port = document.getElementById("port").value;
        var db = document.getElementById("dbname").value;
        var username = document.getElementById("dbuser").value;
        var password = document.getElementById("dbpassword").value;
        if(hostname && port && db && username && password)
            return {hostname, port, db, username, password};
        else {
            return null;
        }
    }
    function load(){
        var params = getFormBody();
        if(params) {
            params.cmd = "load";
            service.load(params);
        }
        else alert("Please enter the db2 credential first!");
    }
    function test(){
        var params = getFormBody();
        if(params) {
            params.cmd = "test";
            service.load(params);
        }
        else alert("Please enter the db2 credential first!");
    }
    function clear(){
        var params = getFormBody();
        if(params) {
            params.cmd = "clear";
            service.load(params);
        }
        else alert("Please enter the db2 credential first!");
    }
</script>

<script type="text/babel">

</script>
</body>
</html>
